.container {
  .navbar-brand {
    font-weight: bold;
  }

  .navbar-nav {
    .upload {
      margin-right: 20px;
    }
  }

  .d-flex {
    gap: 10px;
  }

  .login-btn {
    border: 1px solid #000;
    color: #000;
    margin-left: 20px;
  }

  .login-btn:hover {
    background-color: #b5b5b5;
  }

  .signup-btn {
    background-color: #000;
    border: none;
  }

  .signup-btn:hover {
    background-color: #323232;
  }

  .logout-btn {
    margin-left: 100px;
  }
}
