.signup-page {
  /* background-color: #f3e8ff; */
  background-image: url("../../public/assets/blob-scene-2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .card {
    width: 32%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    h1 {
      font-weight: bold;
    }

    .signup-btn {
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #c62368;
      color: #fff;

      i {
        font-size: 20px;
      }

      span {
        margin-left: 10px;
      }
    }

    .signup-btn:hover {
      background-color: #ee2f7e;
    }

    .separator {
      color: #464646;
    }

    .login-btn {
      font-weight: bold;
      border: 1px solid #c62368;
      color: #c62368;
    }

    .login-btn:hover {
      background-color: #c62368;
      color: #fff;
    }

    .guest-btn {
      font-weight: bold;
      color: #727272;
      margin-top: -20px;
    }
  }
}
