.signup-page {
  background-color: #0d0d0d;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .card {
    width: 32%;
    border-radius: 15px;
    background-color: #181818;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    h1 {
      font-weight: bold;
      color: #cccccc;
    }

    .signup-btn {
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #dcff00;
      color: #0d0d0d;

      i {
        font-size: 20px;
      }

      span {
        margin-left: 10px;
      }
    }

    .signup-btn:hover {
      background-color: #b1cc00;
    }

    .separator {
      color: #646464;
    }

    .login-btn {
      font-weight: bold;
      border: 1px solid #dcff00;
      color: #dcff00;
    }

    .login-btn:hover {
      background-color: #dcff00;
      color: #000;
    }

    .guest-btn {
      font-weight: bold;
      color: #727272;
      margin-top: -20px;
    }
  }
}
